<a href="https://colab.research.google.com/github/bluehy/Algorithm/blob/main/%EB%B0%B1%EC%A4%80_3052.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 알고리즘
2022.10.07

#### 📌백준 3052 파이썬

두 자연수 A와 B가 있을 때, A%B는 A를 B로 나눈 나머지 이다. 예를 들어, 7, 14, 27, 38을 3으로 나눈 나머지는 1, 2, 0, 2이다. 

수 10개를 입력받은 뒤, 이를 42로 나눈 나머지를 구한다. 그 다음 서로 다른 값이 몇 개 있는지 출력하는 프로그램을 작성하시오.

#### <입력>
첫째 줄부터 열번째 줄 까지 숫자가 한 줄에 하나씩 주어진다. 이 숫자는 1,000보다 작거나 같고, 음이 아닌 정수이다.
```
1
2
3
4
5
6
7
8
9
10
```

---
#### <출력>
첫째 줄에, 42로 나누었을 때, 서로 다른 나머지가 몇 개 있는지 출력한다.
```
10
```

### 🐣 내 풀이

In [5]:
table = []
for i in range(10):
  table.append(int(input())%42)
  result = len(list(set(table)))
print(result)

42
84
252
420
840
126
42
84
420
126
1

### 👩‍💻 다른 풀이

In [ ]:
arr = []
for i in range(10):
    n = int(input())
    arr.append(n % 42)

# set, len 활용
arr = set(arr)
print(len(arr))

In [ ]:
arr = []
for i in range(10):
    a = int(input())
    # 중복값이 있는지 확인 후에 리스트에 요소 추가하는 케이스
    if a%42 not in arr:
        arr.append(a % 42)
print(len(arr))

In [ ]:
nums = set()  # 중복되는 요소를 제거
for _ in range(10):
    i = int(input())
    nums.add(i%42)  # 집합자료형에 원소를 추가할 때 add 함수를 사용

print(len(nums))

#### 🔍 참고사이트
- [list 자료형](https://wikidocs.net/14)
- [리스트 중복제거](https://codechacha.com/ko/python-list-remove-duplicates/)

- [3052 문제 풀이 1](https://pacific-ocean.tistory.com/35)
- [3052 문제 풀이 2](https://afterdawncoding.tistory.com/55)
- [3052 문제 풀이 3](https://ooyoung.tistory.com/57)