<a href="https://colab.research.google.com/github/bluehy/Algorithm/blob/main/%EB%B0%B1%EC%A4%80_2738.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 알고리즘
2022.11.02

#### 📌백준 2738 파이썬

N*M크기의 두 행렬 A와 B가 주어졌을 때, 두 행렬을 더하는 프로그램을 작성하시오.

#### <입력>
첫째 줄에 행렬의 크기 N 과 M이 주어진다. 둘째 줄부터 N개의 줄에 행렬 A의 원소 M개가 차례대로 주어진다. 이어서 N개의 줄에 행렬 B의 원소 M개가 차례대로 주어진다. N과 M은 100보다 작거나 같고, 행렬의 원소는 절댓값이 100보다 작거나 같은 정수이다.
```
3 3
1 1 1
2 2 2
0 1 0
3 3 3
4 4 4
5 5 100
```

---
#### <출력>
첫째 줄부터 N개의 줄에 행렬 A와 B를 더한 행렬을 출력한다. 행렬의 각 원소는 공백으로 구분한다.
```
4 4 4
6 6 6
5 6 100
```

### 🐣 내 풀이

In [6]:
N, M = map(int,input().split())
A = []
B = []

for i in range(N):
  arr = list(map(int,input().split())) 
  A.extend(arr)
for i in range(M):
  arr = list(map(int,input().split()))
  B.extend(arr)

C = []
for Ai, Bi in zip(A,B):
  C.append(Ai + Bi)

3 3
1 1 1
2 2 2
0 1 0
3 3 3
4 4 4
5 5 100
[4, 4, 4, 6, 6, 6, 5, 6, 100]

### 👩‍💻 다른 풀이

In [8]:
A, B = [], []

N, M = map(int, input().split())

# A, B 에 행렬의 원소를 입력 받는다.
## map 함수는 맵 객체(map object)를 반환하므로, row에는 list 형태로 받아주어야 한다. 맵 객체는 이터레이터이기 때문에 다대다 관계에서는 list가 생략이 가능하지만, 일대다 관계에서 map 함수는 list 를 통해 값을 확인할 수 있다.
for row in range(N):
    row = list(map(int, input().split()))
    A.append(row)

for row in range(N):
    row = list(map(int, input().split()))
    B.append(row)

# 행렬 A, B 를 더한 행렬을 출력한다.
## 반복문을 통해 행렬 A, B 의 동일 행, 동일 열에 위치한 원소를 더한 값을 출력하고, end = ' ' 를 통해 띄어쓰기로 열을 구분하여 출력한다.
## 하나의 열을 출력한 다음, 다음 행으로 넘어가기 전에 print() 를 통해 줄바꿈을 해주어 행을 구분한다.
for row in range(N):
    for col in range(M):
        print(A[row][col] + B[row][col], end=' ')
    print()

3 3
1 1 1
2 2 2
0 1 0
3 3 3
4 4 4
5 5 100
4 4 4
6 6 6
5 6 100

In [10]:
n, m = map(int, input().split())
a, b = [], []

# a, b 
for i in [a, b]:
    for j in range(n):
        i.append(list(map(int, input().split())))

# print(a, b)

for i in range(n):
    for j in range(m):
        a[i][j] += b[i][j]
    print(*a[i])

3 3
1 1 1
2 2 2
0 1 0
3 3 3
4 4 4
5 5 100
[[1, 1, 1], [2, 2, 2], [0, 1, 0]] [[3, 3, 3], [4, 4, 4], [5, 5, 100]]
4 4 4
6 6 6
5 6 100

In [12]:
N, M = map(int,input().split())
board = []

# 리스트 2개로 행렬값을 받은 후, 2중 for문을 통해 값을 더하고 출력한다.
for _ in range(N):
  board.append(list(map(int,input().split())))

for i in range(N):
  temp = list(map(int,input().split()))

  for j in range(M):
    board[i][j] += temp[j]

for i in range(N) :
  for j in range(M):
    print(board[i][j], end = " ")
  print()

3 3
1 1 1
2 2 2
0 1 0
3 3 3
4 4 4
5 5 100
4 4 4
6 6 6
5 6 100

#### 🔍 참고사이트
- [2783 문제 풀이 1](https://develop247.tistory.com/93)
- [2783 문제 풀이 2](https://hooneee.tistory.com/81)
- [2738 문제 풀이 3](https://yongku.tistory.com/2295)