<a href="https://colab.research.google.com/github/bluehy/Algorithm/blob/main/%EB%B0%B1%EC%A4%80_10818.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 알고리즘
2022.10.05

#### 📌백준  파이썬

N개의 정수가 주어진다. 이때, 최솟값과 최댓값을 구하는 프로그램을 작성하시오.

#### <입력>
첫째 줄에 정수의 개수 N (1 ≤ N ≤ 1,000,000)이 주어진다. 둘째 줄에는 N개의 정수를 공백으로 구분해서 주어진다. 모든 정수는 -1,000,000보다 크거나 같고, 1,000,000보다 작거나 같은 정수이다.
```
5
20 10 35 30 7
```

---
#### <출력>
첫째 줄에 주어진 정수 N개의 최솟값과 최댓값을 공백으로 구분해 출력한다.
```
7 35
```

### 🐣 내 풀이

In [4]:
t = int(input())
item = list(map(int,input().split()))
print(min(item),max(item))

5
20 10 35 30 7
7 35
20

### 👩‍💻 다른 풀이

In [ ]:
cnt = int(input())
numbers = list(map(int, input().split()))
max = numbers[0]
min = numbers[0]

# numbers의 두번째 요소부터 차례로 비교해주어, max와 min값을 새로 구한다.
for i in numbers[1:]:
    if i > max:
        max = i
    elif i < min:
        min = i

print(min,max)​

#### 🔍 참고사이트
- [파이썬_min/max](https://devpouch.tistory.com/71)
- [10818 문제 풀이 1](https://bambbang00.tistory.com/12)