<a href="https://colab.research.google.com/github/bluehy/Algorithm/blob/main/%EB%B0%B1%EC%A4%80_1546.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 알고리즘
2022.10.07

#### 📌백준 1546 파이썬

세준이는 기말고사를 망쳤다. 세준이는 점수를 조작해서 집에 가져가기로 했다. 일단 세준이는 자기 점수 중에 최댓값을 골랐다. 이 값을 M이라고 한다. 그리고 나서 모든 점수를 점수/M*100으로 고쳤다.

예를 들어, 세준이의 최고점이 70이고, 수학점수가 50이었으면 수학점수는 50/70*100이 되어 71.43점이 된다.

세준이의 성적을 위의 방법대로 새로 계산했을 때, 새로운 평균을 구하는 프로그램을 작성하시오.

#### <입력>
첫째 줄에 시험 본 과목의 개수 N이 주어진다. 이 값은 1000보다 작거나 같다. 둘째 줄에 세준이의 현재 성적이 주어진다. 이 값은 100보다 작거나 같은 음이 아닌 정수이고, 적어도 하나의 값은 0보다 크다.
```
3
40 80 60
```

---
#### <출력>
첫째 줄에 새로운 평균을 출력한다. 실제 정답과 출력값의 절대오차 또는 상대오차가 10-2 이하이면 정답이다.
```
75.0
```

### 🐣 내 풀이

In [4]:
n = int(input())
score = list(map(int,input().split()))
M = max(score)
new = 0

for i in range(n):
  a = score[i]/M*100
  new += a
print(new/n)

4
1 100 100 100
75.25

### 👩‍💻 다른 풀이

In [ ]:
n = int(input())  # 과목 수
test_list = list(map(int, input().split()))
max_score = max(test_list)

new_list = []
for score in test_list :
    new_list.append(score/max_score *100)  # 새로운 점수 생성
test_avg = sum(new_list)/n
print(test_avg)

In [ ]:
N = int(input())
M = list(map(int, input().split()))
max_ = max(M)

for i in range(N):
    M[i] = M[i]/max_*100
print("%.2f" %(sum(M)/ N))

#### 🔍 참고사이트
- [max 함수](https://blockdmask.tistory.com/411)
- [1546 문제 풀이 1](https://ooyoung.tistory.com/58)
- [1546 문제 풀이 2](https://tooo1.tistory.com/93)