<a href="https://colab.research.google.com/github/bluehy/Algorithm/blob/main/%EB%B0%B1%EC%A4%80_2480.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 알고리즘
2022.09.06

#### 📌백준 2480 파이썬

1에서부터 6까지의 눈을 가진 3개의 주사위를 던져서 다음과 같은 규칙에 따라 상금을 받는 게임이 있다. 

1. 같은 눈이 3개가 나오면 10,000원+(같은 눈)×1,000원의 상금을 받게 된다. 
2. 같은 눈이 2개만 나오는 경우에는 1,000원+(같은 눈)×100원의 상금을 받게 된다. 
3. 모두 다른 눈이 나오는 경우에는 (그 중 가장 큰 눈)×100원의 상금을 받게 된다.  

예를 들어, 3개의 눈 3, 3, 6이 주어지면 상금은 1,000+3×100으로 계산되어 1,300원을 받게 된다. 또 3개의 눈이 2, 2, 2로 주어지면 10,000+2×1,000 으로 계산되어 12,000원을 받게 된다. 3개의 눈이 6, 2, 5로 주어지면 그중 가장 큰 값이 6이므로 6×100으로 계산되어 600원을 상금으로 받게 된다.

3개 주사위의 나온 눈이 주어질 때, 상금을 계산하는 프로그램을 작성 하시오.

#### <입력>
첫째 줄에 3개의 눈이 빈칸을 사이에 두고 각각 주어진다. 
```
3 3 6
```

---
#### <출력>
첫째 줄에 게임의 상금을 출력 한다.
```
1300
```

### 🐣 내 풀이

In [5]:
a, b, c = map(int,input().split())

if a == b and a == c :
  prize = 10000 + a * 1000
elif a == b or a == c :
  prize = 1000 + a * 100
elif b == c :
  prize = 1000 + b * 100
else :
  prize = max(a, b, c) * 100

print(prize)

6 2 5
600

### 👩‍💻 다른 풀이

In [ ]:
a, b, c = map(int, input().split())

if a == b == c:
    print(10000+a*1000)
elif a == b:
    print(1000+a*100)
elif a == c:
    print(1000+a*100)
elif b == c:
    print(1000+b*100)
else:
    print(100 * max(a,b,c))

In [ ]:
a,b,c=map(int,input().split())
if a==b==c:
    print(10000+a*1000)
elif a==b or b==c:
    print(1000+b*100)
elif a==c:
    print(1000+a*100)
else:
    print(max(a,b,c)*100)

#### 🔍 참고사이트
- [파이썬_최소값,최대값](https://codechacha.com/ko/python-min-max/)
- [2480 문제 풀이 1](https://claude-u.tistory.com/223)
- [2480 문제 풀이 2](https://neomindstd.github.io/%EB%AC%B8%EC%A0%9C%ED%92%80%EC%9D%B4/boj2480/)