<a href="https://colab.research.google.com/github/bluehy/Algorithm/blob/main/%EB%B0%B1%EC%A4%80_10818.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 알고리즘
2022.10.05

#### 📌백준 10818 파이썬

N개의 정수가 주어진다. 이때, 최솟값과 최댓값을 구하는 프로그램을 작성하시오.

#### <입력>
첫째 줄에 정수의 개수 N (1 ≤ N ≤ 1,000,000)이 주어진다. 둘째 줄에는 N개의 정수를 공백으로 구분해서 주어진다. 모든 정수는 -1,000,000보다 크거나 같고, 1,000,000보다 작거나 같은 정수이다.
```
5
20 10 35 30 7
```

---
#### <출력>
첫째 줄에 주어진 정수 N개의 최솟값과 최댓값을 공백으로 구분해 출력한다.
```
7 35
```

### 🐣 내 풀이

In [4]:
t = int(input())
item = list(map(int,input().split()))
print(min(item),max(item))

5
20 10 35 30 7
7 35
20

### 👩‍💻 다른 풀이

In [6]:
cnt = int(input())
numbers = list(map(int, input().split()))
max = numbers[0]
min = numbers[0]

# numbers의 두번째 요소부터 차례로 비교해주어, max와 min값을 새로 구한다.
for i in numbers[1:]:
    if i > max:
        max = i
    elif i < min:
        min = i

print(min, max)

5
20 10 35 30 7
7 35

In [ ]:
N = int(input())
array = list(map(int,input().split()))

# 오름차순 정렬
array.sort()
print(array[0],array[-1])

#### 🔍 참고사이트
- [파이썬_min/max](https://devpouch.tistory.com/71)
- [파이썬 list와 map, tuple](https://dojang.io/mod/page/view.php?id=2286)
- [10818 문제 풀이 1](https://bambbang00.tistory.com/12)
- [10818 문제 풀이 2](https://yaneodoo2.tistory.com/entry/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EB%B0%B1%EC%A4%80-10818%EB%B2%88-%EC%B5%9C%EC%86%8C-%EC%B5%9C%EB%8C%80-%EC%B5%9C%EC%86%9F%EA%B0%92%EA%B3%BC-%EC%B5%9C%EB%8C%93%EA%B0%92%EC%9D%84-%EC%B0%BE%EB%8A%94-%EB%AC%B8%EC%A0%9C)
- [invalid character in identifier 오류](https://chillog.page/159)